<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qing.dao.WorkerMapper">

    <insert id="addWorker" parameterType="worker">
        insert into crmkhgx.worker (workerId, workerName, workerPwd, workerPost, workerPhone, workerAddress, workerHand)
        values (null,#{workerName},#{workerPwd},#{workerPost},#{workerPhone},#{workerAddress},'default.png')
    </insert>

    <update id="updateWorker" parameterType="worker">
        update crmkhgx.worker set workerName=#{workerName},
                                  workerPwd=#{workerPwd},
                                  workerPost=#{workerPost},
                                  workerPhone=#{workerPhone},
                                  workerAddress=#{workerAddress},
                                  workerHand=#{workerHand}
        where workerId=#{workerId}
    </update>

    <delete id="deleteWorker" parameterType="int">
        delete from crmkhgx.worker where workerId = #{workerId}
    </delete>

    <select id="queryWorkerPwd" parameterType="int" resultType="String">
        select workerPwd from crmkhgx.worker where workerId = #{workerId}
    </select>

    <update id="updateWorkerHand">
        update crmkhgx.worker
        set workerHand = #{workerHand}
        where workerId = #{workerId};
    </update>

    <select id="queryWorkerHand" parameterType="int" resultType="String">
        select workerHand from crmkhgx.worker where workerId = #{workerId}
    </select>

    <update id="updateWorkerAddress">
        update crmkhgx.worker
        set workerAddress = #{workerAddress}
        where workerId = #{workerId}
    </update>

    <update id="updateWorkerPwd">
        update crmkhgx.worker
        set workerPwd = #{workerPwd}
        where workerId = #{workerId}
    </update>

    <select id="queryWorkerNameById" parameterType="int" resultType="String">
        select workerName from crmkhgx.worker where workerId = #{workerId}
    </select>

    <select id="queryAllWorker" parameterType="String" resultType="worker">
        select * from crmkhgx.worker where 1=1
        <if test="workerMsg != null and workerMsg != ''">
            and ((workerName like "%"#{workerMsg}"%")
                     or (workerPhone like "%"#{workerMsg}"%")
                     or (workerAddress like "%"#{workerMsg}"%"))
        </if>
    </select>

    <select id="queryByWorkerId" parameterType="int" resultType="worker">
        select * from crmkhgx.worker where workerId = #{workerId}
    </select>

</mapper>